
.container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 300px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

/*img:hover {

	transform: scale(1.1);
}*/

/*h2 {
	width: 30%;
	margin-left: 1.66%;
	font-family: "Trade Winds";
	border-bottom: 1px solid black;
	padding-bottom: 10px;

}

button {

	float: center;
}
*/